.saltmarsh { background-color: rgba(12,35,48,0.9); color: rgb(235,232,211); padding: 18px; margin: 14px; max-width: 640px; } Label { font-size: 20px; margin-bottom: 8px; white-space: normal; } Button { height: 34px; margin: 4px; } ListView { height: 150px; }
