# Unity's serializer emits spaces after empty YAML scalar values.
*.asset whitespace=-blank-at-eol
*.unity whitespace=-blank-at-eol
*.meta whitespace=-blank-at-eol
*.mat whitespace=-blank-at-eol
*.prefab whitespace=-blank-at-eol
